*{
    margin: 0px;
    padding: 0px;
}

/* SECTION DEFAULTS */
.section {
    background-color: var(--extra-light);
   
  }
  
  .section__container {
    min-height: 100vh;
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;

  
  }
  
  
  .subtitle {
    letter-spacing: 2px;
    color: var(--text-light);
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
  
  .title {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3rem;
    color: var(--text-dark);
    margin-bottom: 1rem;
  }
  
  .title span {
    font-weight: 600;
  }
  
  .description {
    line-height: 1.5rem;
    color: var(--text-light);
    margin-bottom: 2rem;
  }
  
  /* BUTTONS DEFAULT */
  .action__btns {
    display: flex;
    gap: 1rem;

   
  }
  
  .action__btns button {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 1rem 2rem;
    outline: none;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
   
  }
  
  .hire__me {
    background-color: var(--primary-color);
    color: #ffffff;
  }
  
  .hire__me:hover {
    background-color: var(--primary-color-dark);
  }
  
  .portfolio {
    color: var(--primary-color);
  }
  
  .portfolio:hover {
    background-color: var(--primary-color-dark);
    color: #ffffff;
  }
  

.contact {
    margin-top: 20%;
}